#profilo{
    height: 100px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}

#bottone{
    position: absolute;
    height: 20px;
    width: 120px;
    margin-top: 45px;
    margin-left: 15px;
    --background: #FF40AC;
    --background-activated: white;
    --background-hover: #FF40AC;
}