#logo_registrazione {
    position: center;
    padding-top: 15%;
    text-align: center;
  }

#scritta{
    text-align: center;
}

#bottone{
    align-items: center;
    --background: #FF40AC;
    --background-activated: white;
    --background-hover: #FF40AC;
  }