<ion-content>
  <ion-toolbar>
    <a (click)="home()"><img id="logo_alto" src="assets/image/logo_scritta.png" alt="logoalto"></a>
  </ion-toolbar>
  <p id="scritta"><b>Seleziona gli esercizi:</b></p>
  <ion-toolbar>
    <ion-searchbar
    searchIcon="search" 
    animated
    cancel-button-icon
    (ionCancel)="hideSearch()"
    (ionChange)="cercaEsercizi($event.target.value)"
    placeholder="Cerca"></ion-searchbar>
  </ion-toolbar>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding-bottom: 20%;">
    <ion-fab-button id="bottone_b" (click)="checkScheda()">
      <ion-icon name="checkmark-done-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <form [formGroup]="ExplusForm" (ngSubmit)="aggiungiex(ExplusForm.value,Esercizio.id,Esercizio.nome, Esercizio.muscoli, Esercizio.tipologia)" *ngFor="let Esercizio of ExList  | async">
    <div style="text-align: center;">
      <p id="scritta">Nome Esercizio: {{Esercizio.nome}}</p>
      <p id="scritta">Muscolo: {{Esercizio.muscoli}}</p>
      <p id="scritta">Tipologia: {{Esercizio.tipologia}}</p>
      <ion-item> 
        <br>
        <ion-label >N.Ripetizioni</ion-label>
        <ion-input placeholder="0" type="number" min="0" required formControlName="ripetizioni"></ion-input>
        <ion-label>N.Serie</ion-label>
        <ion-input placeholder="0" type="number" min="0" required formControlName="serie"></ion-input>
      </ion-item>
      <ion-toolbar>
        <ion-button id="bottone_a" type="submit" [disabled]="!ExplusForm.valid" (click)="openToast()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </div>
  </form>

</ion-content>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="home()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cerca" (click)="cerca()">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cerca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aggiungi" (click)="aggiungi()">
      <ion-icon id="aggiungi" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="preferiti" (click)="preferiti()">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Preferiti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo" (click)="profilo()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

