#profilo{
    display:block;
    margin:0px auto;
    text-align:center;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
}