<ion-content>
  <ion-toolbar>
    <a href="http://localhost:8100/home"><img id="logo_alto" src="assets/image/logo_scritta.png" alt="logoalto"></a>
  </ion-toolbar>  
  <p id="scritta"><b>Aggiungi una scheda di allenamento:</b></p>
  <div size="12" mode="md">
    <ion-toolbar>
      <ion-item>
        <ion-input placeholder="Nome Scheda">
        </ion-input>
        <ion-icon name="body-outline"></ion-icon>
      </ion-item>
      <br>
      <p id="scritta_secondaria">Intesità:</p>
      <ion-segment id="select" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="0">
          <ion-label>Bassa</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Media</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Alta</ion-label>
        </ion-segment-button>
      </ion-segment>
      <br>
      <ion-list>
        <p id="scritta_secondaria">Genere:</p>
        <ion-item>
          <ion-select placeholder="Seleziona">
            <ion-select-option value="yoga">Yoga</ion-select-option>
            <ion-select-option value="bodybuilde">Bodybuilder</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button (click)="esercizipage()" id="bottone" shape="round">Vai a seleziona esercizi: <ion-icon name="caret-forward-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </div>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="home()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="cerca" (click)="cerca()">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Cerca</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="aggiungi" (click)="aggiungi()">
        <ion-icon id="aggiungi" name="add-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="preferiti" (click)="preferiti()">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Preferiti</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profilo" (click)="profilo()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profilo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
