#scritta_secondaria{
    text-align: left;
    padding-left: 5%;
}

#bottone{
    position:relative;
    left:5%;
    right:20%;
    top: 30%;
    margin-top: 5%;
    --background: #FF40AC;
    --background-activated: white;
    --background-hover: #FF40AC;
  }