#profilo{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 50px;
}

#bottone{
    width: 140px;
    margin-top: 40px;
    --background: #FF40AC;
    --background-activated: white;
    --background-hover: #FF40AC;
}