#logo_registrazione {
    position: center;
    padding-top: 15%;
    text-align: center;
  }

#scritta{
    text-align: center;
}

#bottone{
    align-items: center;
    --background: #FF40AC;
    --background-activated: white;
    --background-hover: #FF40AC;
  }

  #bottonesignin{
    position:relative;
    --background: #FF40AC;
    --background-activated: white;
    --background-hover: #FF40AC;
  }

  ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    background-color: white;
  }