<ion-header hidden>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="position:static" style="background-color: white;">
    <div id="logo_registrazione" style="position: relative; top: -10px;">
      <img src="assets/image/logo.png" alt="logo" width="75 px" height="75 px">
    </div>

    <p style="position: relative; top: -10px;" id="scritta"><b>Benvenuto in TFPF-Fitness</b></p>

    <form style="position: relative; top: -10px;" class="form" [formGroup]="userForm" (ngSubmit)="signUp(userForm.value)" >
      <ion-item style="height: 50px;">
        <ion-input placeholder="Nome" formControlName="nome">
        </ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
  
      <ion-item style="height: 50px;">
        <ion-input placeholder="Cognome" formControlName="cognome">
        </ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
  
      <ion-item style="height: 50px;">
        <ion-input placeholder="E-mail" formControlName="email">
        </ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
 
      <ion-item style="height: 50px;">
        <ion-input placeholder="Username" formControlName="username">
        </ion-input>
        <ion-icon name="people-outline"></ion-icon>
      </ion-item>
  
      <ion-item style="height: 50px;">
        <ion-input placeholder="Password" type="password" formControlName="password">
        </ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
  
      <br>
      <ion-button id="bottone" type="submit" expand="block" style="width: 200px; position: relative; left: 70px;"[disabled]="!userForm.valid" shape="round" expand="block" >REGISTRATI <ion-icon name="push-outline"></ion-icon></ion-button>
    </form>
    <br>

    <div>
      <ion-button id="bottonesignin" (click)="logme()" style="position: relative; bottom: 25px;" shape="round" expand="block" >ACCEDI <ion-icon name="log-in-outline"></ion-icon></ion-button>
    </div>

</ion-content>
