#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#scritta {
  text-align: left;
  padding-left: 5%;
}

#griglia {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  position: relative;
}


#a{
  --background: #00D833;
  --background-activated: white;
  --background-hover: #00D833;
  border-radius: 5%;
  height: 120px;
  width: 130px;
}

#b{
  --background: #3399FF;
  --background-activated: white;
  --background-hover: #3399FF;
  border-radius: 5%;
  height: 120px;
  width: 130px;
}

#c{
  --background: #FF1D0B;
  --background-activated: white;
  --background-hover: #FF1D0B;
  border-radius: 5%;
  height: 120px;
  width: 130px;
}

#d{
  --background: #FF9800;
  --background-activated: white;
  --background-hover: #FF9800;
  border-radius: 5%;
  position: absolute;
  height: 120px;
  width: 130px;
}

#e{
  --background: #FFD800;
  --background-activated: white;
  --background-hover: #FFD800;
  border-radius: 5%;
  height: 120px;
  width: 130px;
}

#f{
  --background: #FF40AC;
  --background-activated: white;
  --background-hover: #FF40AC;
  border-radius: 5%;
  position: absolute;
  height: 120px;
  width: 130px;
}

