<ion-content>
  <img id="logo_alto" src="assets/image/logo_scritta.png" alt="logoalto">
  <p id="scritta"><b>Scopri nuove schede per te</b></p>
  <ion-grid id="griglia">
    <ion-row >
      <ion-col>
        <ion-button id="a" expand="block">Calisthenics</ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="b" expand="block">Yoga</ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-button id="c" expand="block">PowerLifting</ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="d" expand="block">Cardio</ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-button id="e" expand="block">Crossfit</ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="f" expand="block">Pesistica</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--
  <p id="scritta"><b>Intensità:</b></p>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-button id="a" expand="block">Bassa</ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="b" expand="block">Media</ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-button id="c" expand="block">Alta</ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="d" expand="block">Senza Sforzo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="cerca">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Cerca</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="aggiungi">
        <ion-icon id="aggiungi" name="add-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="preferiti">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Preferiti</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profilo">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profilo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
