<ion-content>
  <ion-toolbar>
    <a (click)="home()"><img id="logo_alto" src="assets/image/logo_scritta.png" alt="logoalto"></a>
  </ion-toolbar>
  <br>
  <div *ngFor="let Scheda of Scheda  | async">
    <p id="scritta"><b>Nome Scheda: {{Scheda.nome}} </b></p>
    <p id="scritta_piccola">Utente Creatore: <b> {{Scheda.creatore}} </b></p>
    <p id="scritta_piccola">Data Creazione:<b> {{Scheda.data}} </b></p>
    <p id="scritta_piccola">Genere:<b> {{Scheda.genere}} </b></p>
    <p id="scritta_piccola">Intensità:<b> {{Scheda.intensita}} </b></p>

  </div>
  <br>
  <p id="scritta"><b>Esercizi:</b></p>

  <ion-item button="true" (click)="esercizio(ExScheda.idex)" *ngFor="let ExScheda of ExScheda  | async">
    <ion-label>
      <h2>Nome Esercizio: {{ExScheda.nome}}</h2>
      <p>Muscolo: {{ExScheda.muscoli}}</p>
      <p>Tipologia: {{ExScheda.tipologia}}</p>
      <p>Ripetute x Serie: {{ExScheda.ripetizioni}} x {{ExScheda.serie}}</p>
    </ion-label>
  </ion-item>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" (click)="home()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="cerca" (click)="cerca()">
    <ion-icon name="search-outline"></ion-icon>
    <ion-label>Cerca</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="aggiungi" (click)="aggiungi()">
    <ion-icon id="aggiungi" name="add-circle-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="preferiti" (click)="preferiti()">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-label>Preferiti</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="profilo" (click)="profilo()">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>Profilo</ion-label>
  </ion-tab-button>
</ion-tab-bar>

