<ion-content>
  <ion-toolbar>
    <a (click)="home()"><img id="logo_alto" src="assets/image/logo_scritta.png" alt="logoalto"></a>
  </ion-toolbar>
  <br>
  <img id="profilo" src="assets/image/profile-user.png" alt="">
  <p id="scritta">Le tue informazioni personali:</p>

  <form class="form" [formGroup]="userForm" (ngSubmit)="modificaprofilo(userForm.value)">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input class="centro"  formControlName="username" value="{{ Username }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input class="centro"  formControlName="nome" value="{{ Nome }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cognome</ion-label>
      <ion-input class="centro" formControlName="cognome" value="{{ Cognome }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input class="centro" disabled formControlName="email" value="{{ Email }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input class="centro" formControlName="password" value="{{ Password }}" type="password"></ion-input>
    </ion-item>
    <ion-toolbar>
      <div class="centro">
        <ion-button size="small" type="submit" shape="round" id="bottone_viola"> <p class="centro">Conferma modifiche</p></ion-button>
      </div>
    </ion-toolbar>
  </form>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" (click)="home()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="cerca" (click)="cerca()">
    <ion-icon name="search-outline"></ion-icon>
    <ion-label>Cerca</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="aggiungi" (click)="aggiungi()">
    <ion-icon id="aggiungi" name="add-circle-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="preferiti" (click)="preferiti()">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-label>Preferiti</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="profilo" (click)="profilo()">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>Profilo</ion-label>
  </ion-tab-button>
</ion-tab-bar>


