<ion-content>
  <img id="logo_alto" src="assets/image/logo_scritta.png" alt="logoalto">
  <p id="scritta"><b>Seleziona gli esercizi:</b></p>
  <ion-toolbar>
    <ion-searchbar placeholder="Cerca l'esercizio..."></ion-searchbar>
  </ion-toolbar>
  <div style="text-align: center;">
    <p id="scritta">Nome Esercizio</p>
    <p id="scritta">Muscolo</p>
    <p id="scritta">Tipologia</p>
    <ion-item> 
      <br>
      <ion-label>N.Ripetizioni</ion-label>
      <ion-input placeholder="0" type="number" min="0"></ion-input>
      <ion-label>N.Serie</ion-label>
      <ion-input placeholder="0" type="number" min="0"></ion-input>
    </ion-item>
    <ion-button id="bottone_a">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-toolbar>
    <ion-buttons slot="end">
      <p>Clicca qui per concludere </p>
      <ion-button id="bottone_b" fill="outline" shape="round" size="large">
        <ion-icon name="checkmark-done" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="home()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="cerca" (click)="cerca()">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Cerca</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="aggiungi" (click)="aggiungi()">
        <ion-icon id="aggiungi" name="add-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="preferiti" (click)="preferiti()">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Preferiti</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profilo" (click)="profilo()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profilo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
